.logo {
	/* Centralização*/
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin-left: 10px;

	color: #DDD;
	font-size: 30px;
	transition: .5s;
	font-family: "Lato", sans-serif;
	text-decoration: none;
}

.logo:hover {
	transition: all 0.3s ease-in-out;
	color: #44bcd8;
	font-size: 38px;
	transform:scale(1.1);
	transform: translate(0, -50%);
}

.sidenav {
	position: fixed;
	left: 0px;
	top: 80px;
	height: 100%;
	width: 150px;
	background-color: #DDD;
}

.sidenav a{
	margin-left: 10px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: "Lato", sans-serif;
}

.sidenav a:hover {
	transition: all 0.3s ease-in-out;
	font-size: 25px;
	transform:scale(1.1);
	transform: translate(0, -50%);
}

.topnav {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #333;
	height: 80px;
	width: 100vw;
	vertical-align: middle;
}

.btnFlat {
	/*Centralização*/
	position: absolute;
	right: 0;
	margin-right: 10px;
	top: 50%;
	transform: translate(0, -50%);

    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    font-size: 24px;
    font-family: "Lato",sans-serif;
	color: #DDD;
}

.btnFlat:hover {
	transition: all 0.3s ease-in-out;
	color: #44bcd8;
	font-size: 28px;
	transform:scale(1.1);
	transform: translate(0, -50%);
}

