html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 0.2vmin;
	height: 100%;
}

.smallText {
	font-size: 10rem;
}

.mediumText {
	font-size: 15rem;
}

.bigText {
	font-size: 20rem;
}

.backPrimaryColor {
	background-color: #054A45;
}

.backSecondaryColor {
	background-color: #DDD;
}

.white {
	color: #f1f1f1;
}

.black {
	color: black;
}

.header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1vw;
	width: 100%;
	height: 10vh;
	font-size: 2em;
	box-sizing: border-box;
	box-shadow: 0 4em 1em 0 rgba(0,0,0,0.16);
	z-index: 2;
}

.botao {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    font-family: "Lato",sans-serif;
    text-decoration: none;
}

.botao:hover {
	
}

.nav {
	position: fixed;
	top: 10vh;
	left: 0;
	bottom: 5vh;
	width: 25vw;
	background-color: #DDD;
	box-shadow: 3em 0 1em rgba(0,0,0,0.16);
	z-index: 1;
}

.divTopicosNavTitulo {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 1vw;
}

.divTopicosNavLista {
	position: absolute;
	top: 10vh;
	bottom: 0;
	width: 100%;
}

.divTopicosNav h1 {
	display: inline;
}

#btnNovoTopico {
	font-size: 20em;
}

.popEfect:hover {
	transform: scale(1.1, 1.1);
	cursor: pointer;
}

.popEfectColor:hover {
	transform: scale(1.1, 1.1);
	cursor: pointer;
	color: #054A45;
}

.section {
	position: fixed;
	top: 10vh;
	left: 25vw;
	bottom: 5vh;
	right: 0;
}

.chat {
	position: fixed;
	left: 25vw;
	top: 10vh;
	bottom: 5vh;
	right: 0;
}

.iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	box-sizing: border-box;
	padding: 1vw 0 1vw 1vw;
	border: none;
}

.msgBox {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20%;
	border-top: 1em solid silver;
	box-sizing: border-box;
	padding: 1vh 0 1vh 1vw;
}

#inputText {
	width: 80%;
	height: 100%;
	resize: none;
	border: none;
}

.divBtnEnviar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 20%;
}

#btnEnviar {
	color: black;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 5vh;
	box-shadow: 0 -4em 1em 0 rgba(0,0,0,0.16);
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	padding: 0 1vw;
}
